&nbsp;
<div class="container">
<article class="message is-dark">
  <div class="message-header">
    <p>Editando o Integrante</p>
</div>
 </article>   
	<%= render 'form', artist: @artist %>
<br>
<%= link_to 'Mostrar', @artist ,class: "button is-link"%> 
<%= link_to 'Voltar', artists_path ,class: "button is-info is-inverted"%>
</div>