&nbsp;
<div class="container">
	<article class="message is-dark">
		<div class="message-header">
			<p>Cadastrar um novo Show</p>
		</div>
	</article>   
	<%= render 'form', tour: @tour %>
	<br>
	<%= link_to 'Voltar', tours_path ,class: "button is-info is-inverted"%>
</div>