<section class="section">
     <div class="container has-text-centered" id="div_disco">
         <h2 class="title">
             <span class="tag is-warning is-large">Últimas Músicas</span>
         </h2>
         <div class="tile is-ancestor">
         <% @discographies.last(3).each do |discography| %>
             <div class="tile is-parent">
                 <article class="tile is-child box">
                     <i class="fa fa-music fa-5x"></i>
                     <p class="title"><%= discography.name %></p>
                     <%= link_to 'Letra', discography,class: "button"%>
                 </article>
             </div>
         <% end %>
         </div>
        <h2 class="title">
            <%= link_to discographies_path  do%>
                <span class="tag is-dark is-large">+ Músicas</span>
            <% end %>

        </h2>
     </div>
 </section>