<section class="section">
     <div class="container has-text-centered" id="div_tour">
         <h2 class="title">
             <span class="tag is-light is-large">Data dos Shows</span>
         </h2>
         <div class="tile is-ancestor">
         <% @tours.each do |tour| %>
             <div class="tile is-parent">
                 <article class="tile is-child box">
                     <i class="fa fa-volume-up fa-5x"></i>
                     <p class="title"><%= tour.name %></p>
                     <p class="subtitle"><%=l tour.date_show %></p>
                     <a class="button">Buy Tickets</a>
                 </article>
             </div>
         <% end %>
         </div>
     </div>
 </section>