<section class="section">
     <div class="container has-text-centered" id="div_tour">
         <h2 class="title">
             <span class="tag is-warning is-large">Últimos Shows</span>
         </h2>
         <div class="tile is-ancestor">
         <% @tours.first(3).each do |tour| %>
             <div class="tile is-parent">
                 <article class="tile is-child box">
                     <i class="fa fa-volume-up fa-5x"></i>
                     <p class="title"><%= tour.name %></p>
                     <p class="subtitle">Data: <%=l tour.date_show %></p>
                     <%= link_to '+detalhes', tour,target: "_blank",class: "button"%>
                 </article>
             </div>
         <% end %>
         </div>
         <h2 class="title">
             <%= link_to tours_path  do%>
                 <span class="tag is-dark is-large">+ Shows</span>
             <% end %>
         </h2>
     </div>
 </section>