<section class="hero">
	<% if @band.present? %>  
		<% @band.photos.each do |ph| %>
		<div class="mySlides fade">
			<figure class="image is-2by1">
				<%= cl_image_tag ph.image.filename  + ".jpg",secure: true%>
			</figure>
		</div>
		<% end %>
	<% end %>
</section>
<br>

<div style="text-align:center">
  <span class="dot"></span> 
  <span class="dot"></span> 
</div>
<%= render partial: "band",object: @artists %>
<%= render partial: "discography",object: @discographies %>
<%= render partial: "tour" ,object: @tours %>

<script type="text/javascript">


</script>

<style type="text/css">


</style>