<section class="hero">
    <figure class="image">
        <img src="https://images.pexels.com/photos/167636/pexels-photo-167636.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940">
    </figure>
</section>
<%= render partial: "band" %>
<%= render partial: "tour" %>
<%= render partial: "contact" %>