<div class="container">
	<article class="message is-dark">
	  <div class="message-header">
	    <p>Editando a banda</p>
	</div>
	 </article>   
		<%= render 'form', band: @band %>
	<br>
	<%= link_to 'Mostrar', @band ,class: "button is-link"%> 
	<%= link_to 'Voltar', bands_path ,class: "button is-info is-inverted"%>
</div>